.m-btn-flat:hover{
  -webkit-filter: brightness(80%);
}
.m-btn-flat:focus{
  outline-style: none;
}

.m-btn-round:hover{
  background-color: $sabz;
  color: white;
}
.m-btn-round.btn-round-filled-theme:hover{
  -webkit-filter: brightness(80%);
}

.m-simple-input:focus{
  background-color: transparent;
  border-bottom: 1px solid $sabz;
}
.m-round-input:focus{
  background-color: transparent;
  border: 1px solid $sabz;
  outline: none;
}
.m-btn-tranparent:focus{
  background-color: $sormeie;
  color: white;
  outline: none;
}

button:focus,a:focus{
  outline: none !important;
}
