body{
  background-color: $khakestarie-roshan;
}

a {
  color: inherit;
  cursor: pointer;

  &:focus, &:hover{
    text-decoration: none !important;
  }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
}