.shareBtn{
  color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 2px 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 10px;
  padding-top: 5px;
}
.shareBtn:hover{
  -webkit-filter: brightness(140%);
  filter: brightness(140%);
}
.shareBtn i{
  vertical-align: text-bottom;
}

.shareBtn:first-of-type{
  margin-left: 38%;
}

.facebook_btn{
  background-color: #39579A;
}
.tweeter_btn{
  background-color: #50ABF1;
}
.googlePlus_btn{
  background-color: #DF4A32;
}
.linkedIn_btn{
  background-color: #0180CD;
}
.instagram_btn{
  background-color: #C80B09;
}
.telegram_btn{
  background-color: #50ABF1;
}

@media (max-width: 992px) {
  .shareBtn:first-of-type{
    margin-left: 34%;
  }
}

@media (max-width: 768px) {
  .shareBtn:first-of-type{
    margin-left: 28%;
  }
}

@media (max-width: 575px) {
  .shareBtn:first-of-type{
    margin-left: 19%;
  }
}

@media (max-width: 480px) {
  .shareBtn:first-of-type{
    margin-left: 16%;
  }
}
@media (max-width: 420px) {
  .shareBtn:first-of-type{
    margin-left: 13%;
  }
}